.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/

.env
!.env.example
*.log
*.tmp

.streamlit/credentials.toml
.streamlit/secrets.toml

data/**
!data/.gitkeep
!data/README.md

reports/**
!reports/.gitkeep